body
  padding-top: 50px
  padding-bottom: 20px

/* Set padding to keep content from hitting the edges */
.body-content
  padding-left: 15px
  padding-right: 15px

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
  max-width: 280px

/* styles for validation helpers */
.field-validation-error
  color: #b94a48

.field-validation-valid
  display: none

input.input-validation-error
  border: 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border: 0 none

.validation-summary-errors
  color: #b94a48

.validation-summary-valid
  display: none

.jumbotron
  border-radius: 0px !important
  background-color: #3182bd
  width: 100%
  position: absolute
  left: 0
  padding-bottom: 20px
  padding-top: 20px
.jumbotron h1, .jumbotron p
  color: white

.navbar
  background-color: white
  border-bottom: solid 2px
  border-color: #9ecae1

.row
  margin-top: 10px

.col-xs-5ths, 
.col-sm-5ths, 
.col-md-5ths, 
.col-lg-5ths
  position: relative
  min-height: 1px
  padding-right: 15px
  padding-left: 15px

.col-xs-5ths
  width: 20%
  float: left

.col-xs-5ths * svg, 
.col-sm-5ths * svg, 
.col-md-5ths * svg, 
.col-lg-5ths * svg
  margin-top: 15px

@media (min-width: 768px)
  .col-sm-5ths
    width: 20%
    float: left
    
@media (min-width: 992px)
  .col-md-5ths
    width: 20%
    float: left

@media (min-width: 1200px)
  .col-lg-5ths
    width: 20%
    float: left

#filter-selectors
 height: 250px

#class-selector-container
 min-height: 50%

#class-selector-container > div,
#student-selector-container > div,
#class-selector-container > div > select,
#student-selector-container > div > select
  width: 100%

#student-selector-container
  padding-top: 10px

#charts-container
  opacity: 0.0

#loader
  position: relative
  top: 120px
  left: 0
  right: 0
  bottom: 0
  margin: auto
  transform: translate(-50%, -50%)
  border: 16px solid #f3f3f3
  border-radius: 50%
  border-top: 16px solid #3498db
  width: 200px
  height: 200px
  -webkit-animation: spin 2s linear infinite
  animation: spin 2s linear infinite

@-webkit-keyframes spin
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }

@keyframes spin
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }

.dc-chart .bubble
  fill-opacity: 0.9

hr
  border-top: 2px solid #9ecae1
